body{
    text-align: center;
    background-image: linear-gradient(rgb(242, 100, 100),rgb(115, 115, 251));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h2{
    font-size: xx-large;
    font-style: italic;
    color: rgb(50, 40, 40);
    text-shadow: 2px 1px rgb(255, 255, 255);
}
#heroImage{
    color: white;
}
p{
    font-size: x-large;
    color: rgb(233, 249, 15);
}
header{
    display: inline-flex;
}